<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>908951970253-nk9nrllg7ro42jrnippjd66kh2n7h57m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.908951970253-nk9nrllg7ro42jrnippjd66kh2n7h57m</string>
	<key>API_KEY</key>
	<string>AIzaSyDDqlD5vrcApK8MHkhKNYkprb-2xwwTdYk</string>
	<key>GCM_SENDER_ID</key>
	<string>908951970253</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mominApp</string>
	<key>PROJECT_ID</key>
	<string>store-app-677ac</string>
	<key>STORAGE_BUCKET</key>
	<string>store-app-677ac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:908951970253:ios:6c317d2d58e38e0b1c6484</string>
</dict>
</plist>